# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
src/config.js
ios/assets/src/*
ios/assets/node_modules/*
ios/fastlane/*.app.dSYM.zip
ios/vendor
ios/main.jsbundle

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
android/vendor
android/app/src/main/assets/index.android.bundle
/android/app/src/main/res/drawable-mdpi/*
/android/app/src/main/res/drawable-hdpi/*
/android/app/src/main/res/drawable-xhdpi/*
/android/app/src/main/res/drawable-xxhdpi/*
/android/app/src/main/res/drawable-xxxhdpi/*
/android/drawable-mdpi/*
/android/drawable-hdpi/*
/android/drawable-xhdpi/*
/android/drawable-xxhdpi/*
/android/drawable-xxxhdpi/*

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Jest
coverage

# BUCK
buck-out/
\.buckd/
*.keystore

# jest
coverage/*

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# ENV Variable management
.env.production
.env.sandbox
.env